### Loading and Describing Data with Pandas

In [1]:
import pandas as pd

a) Read the file *LaborSupply1988.csv* into a pandas dataframe.

In [6]:
df = pd.read_csv("LaborSupply1988.csv")  # df stands for DataFrame

b) How many features (columns) and datapoints (rows) does the dataset have?

In [7]:
nr_rows, nr_cols = df.shape
print(nr_cols, "columns/features")
print(nr_rows, "rows/datapoints")

5 columns/features
532 rows/datapoints

c) Which attributes does the dataset have?

In [8]:
print(df.columns)

Index(['lnhr', 'lnwg', 'kids', 'age', 'disab'], dtype='object')

d) List the first 10 datapoints of the dataset.

In [9]:
df.head(10)

   lnhr  lnwg  kids  age  disab
0  7.82  1.98     2   36      0
1  7.63  1.79     0   44      0
2  7.62  2.64     0   35      1
3  8.01  1.98     2   31      0
4  7.73  2.56     2   41      0
5  7.69  2.76     1   40      0
6  8.35  2.45     2   53      0
7  7.69  2.18     0   46      0
8  7.67  2.79     2   36      0
9  7.74  2.93     0   55      0

e) Determine the value range of the attribute "age".

In [10]:
df_min = df["age"].min()
df_max = df["age"].max()
print("'age' feature ranges from", df_min, "to", df_max)

# You can also get a short summary of statistics via
#df["age"].describe()

'age' feature ranges from 31 to 60

f) Calculate the average of "log annual hours (lnhr)" worked by the labourers with 0, 1, 2, ..., 6 kids each.  
Hint: `groupby()`

In [11]:
df.groupby("kids")["lnhr"].mean()

kids
0    7.640549
1    7.681368
2    7.713586
3    7.678415
4    7.724500
5    7.760000
6    7.895000
Name: lnhr, dtype: float64

g) Compute the average number of kids of the 40 year olds.

In [12]:
v = df[df["age"] == 40]["kids"].mean()
print(v)

1.9705882352941178

In [13]:
df.describe()

             lnhr        lnwg        kids         age       disab
count  532.000000  532.000000  532.000000  532.000000  532.000000
mean     7.679831    2.625602    1.419173   43.434211    0.097744
std      0.255289    0.470176    1.231664    7.926059    0.297248
min      4.790000   -0.220000    0.000000   31.000000    0.000000
25%      7.580000    2.360000    0.000000   37.000000    0.000000
50%      7.660000    2.655000    1.000000   42.000000    0.000000
75%      7.800000    2.890000    2.000000   50.000000    0.000000
max      8.530000    4.600000    6.000000   60.000000    1.000000